:root{
    --verydark: hsl(233, 47%, 7%);
    --dark: hsl(244, 38%, 16%);
    --softviolet: hsl(277, 64%, 61%);
    --blancotitulo: hsl(0, 0%, 100%);
    --blancoparrafo: hsla(0, 0%, 100%, 0.75);
    --blancostats: hsla(0, 0%, 100%, 0.6);
}

html {
    background-color: var(--verydark);
    font-size: 62.5%;
    
}
body{
    font-size: 15px;
}

.fondo{
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 375px;
    max-height: auto;
    margin: 20% 15%;
    border-radius: 1rem;
}

@media (min-width:845px) {
  .fondo {
    
    max-width: 1440px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1;
    
    
  }
  .imagen{
    grid column: 2/2;
    grid-row: 1;
  }
  .texto{
    grid-column: 1/2;
    grid-row: 1;
  }
}

.imagen{
    width: 100%;
    height: 200px;
    background-image: url(./images/image-header-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

@media (min-width:845px) {
  .imagen{
    border-top-left-radius: 0rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
    height: 100%;

    
    
  }
}

.capa{
    background-color: var(--softviolet);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

@media (min-width:845px) {
  .capa{
    border-top-left-radius: 0rem;
    border-bottom-right-radius: 1rem;
  }
  .texto{
    margin: 5rem;
  }
}

h1{
    color: var(--blancotitulo);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Inter', sans-serif;
}

@media (min-width:845px) {
    h1{
        text-align: justify;
        margin-right: 20%;
    }
}

span{
    color: var(--softviolet);
}

.parrafo{
    color: var(--blancoparrafo);
    font-size: 400;
    font-size: 14px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Lexend Deca', sans-serif;

}

@media (min-width:845px) {
    .parrafo{
        text-align: justify;
        margin-right: 20%;
        margin-left: 5%;
        
    }
  
}

.stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blancotitulo);
    font-size: 2rem;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    
}

@media (min-width:845px) {
  .stats{
    flex-direction: row;
    justify-content: center;
    margin: 15%;
  }
}

.stats h2{
    margin-bottom: 0.5rem;
}
.stats p{
    margin-top: 0.5rem;
    color: var(--blancostats);
    font-size: small;
}
.stats div{
    margin: 0rem 5rem;
}












